{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sebastian!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius excepturi hic repellat voluptatum aliquam deleniti! Perspiciatis deserunt quod quas numquam quidem et atque aliquid, obcaecati aspernatur minima, autem, laborum odit.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/01.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer  }}